.header {
  background-color: black;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 100;
}

.header__logo {
  margin-top: 18px;
  margin-left: 20px;
  margin-right: 20px;
  width: 100px;
  cursor: pointer;
}

.header__searchIcon {
  padding: 5px;
  height: 22px !important;
  background-color: orange;
  border-radius: 0px 4px 4px 0px;
}

.header_search {
  display: flex;
  align-items: center;
  flex: 1;
}

.header__searchInput {
  height: 12px;
  padding: 10px;
  border: none;
  width: 100%;
  border-radius: 4px 0px 0px 4px;
}

.header__nav {
  display: flex;
  justify-content: space-evenly;
}

.header__option {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 10px;
}

.header__links {
  color: white;
  text-decoration: none;
}

.header__optionLineOne {
  font-size: 10px;
}

.header__optionLineTwo {
  font-size: 13px;
  font-weight: 800;
}

.header_optionBasket {
  display: flex;
  align-items: center;
}

.header__basketCount {
  margin-left: 10px;
  margin-right: 10px;
}

.header__searchInput:focus {
  border: 3px solid #e77600;
  border-color: #e77600;
  box-shadow: 0 0 0px 2px #f90 0 0 0 3px rgba(25, 153, 0, 0.5);
}
